<a href="./questions">&lt; Back to all questions</a>
<div *ngIf="question !== undefined">
  <h3>{{question.title}}</h3>
  <p>Asked {{question.createTime | date:'short'}}</p>
  <p *ngIf="question.updateTime !== null">Edited {{question.updateTime | date:'short'}}</p>
  <div>{{question.question}}</div>
</div>
<div *ngIf="question === undefined">No question with this id.</div>
<hr>

<ul class="answers">
  <li *ngFor="let a of answers">
    <div class="left-col">
      <span (click)="toggleUpVote(a.id)"
            class="arrow-up"
            [ngClass]="{'highlight': upVoted[a.id]}">▲</span><br/>
      {{a.votesFor - a.votesAgainst}}<br/>
      <span (click)="toggleDownVote(a.id)"
            class="arrow-down"
            [ngClass]="{'highlight': downVoted[a.id]}">▼</span>
    </div>
    <div class="right-col"><p>{{a.answer}}</p>
      <p>Answered {{a.createTime | date:'short'}}</p>
    </div>
  </li>
</ul>

<div class="answer">Your answer:<br>
  <textarea name="answer" id="myAnswer" cols="30" rows="5" [(ngModel)]="answerText"></textarea><br>
  <input type="submit" value="submit" (click)="submitAnswer()" [disabled]="!submitEnabled">
</div>


