<h1>
  We put the R's in Restaurant Reviews!
</h1>


<form #f="ngForm">
  <label>Restaurants near you*:
    <select name="restaurant" ngModel (change)="goToRestaurant(f)">
      <option value="" disabled>Choose a restaurant</option>
      <option *ngFor="let restaurant of restaurants"
              [ngValue]="restaurant">
        {{restaurant.name}}
      </option>
    </select>
  </label>
</form>

<p>
  <small>*) Near Business Academy Aarhus to be precise</small>
</p>

<pre>Selected: {{f.value | json}}</pre>
