<h1>Register new user</h1>

<form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
  <p><label>Desired username:
    <input type="text" name="username" ngModel /></label></p>
  <p><label>Password:
    <input type="password" name="password" ngModel /></label></p>
  <p><label>Repeat password:
    <input type="password" name="repeatPassword" ngModel /></label></p>
  <p>
    <small>We strongly recommend you store your password in a safe location &ndash; at the moment we have no way to recover lost credentials.</small>
  </p>

  <p><input type="submit" value="Register" /> {{result}}</p>

</form>
